@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
body{
    margin: 0px;
}
div{
    font-family: Verdana, sans-serif;
    font-size: 16px;
    color: white;
}
header{
    height: 250px;
    background-color: black;
    text-align: center;
}
span{
    font-size: 8rem;
}
h1{
    font-family: 'Passion One';
    font-size: 85px;
    margin: 0px;
    color: white;
    letter-spacing: 2px;
    padding-top: 30px;
}
.cursivopreto{
    color: black;
    font-family: 'Sriracha';
    font-size: 46px;
    padding: 5px;
    margin: 30px;
}
.cursivobranco{
    color: white;
    font-family: 'Sriracha';
    font-size: 46px;
    padding: 5px;
    margin: 0px;
    background-image: url(imagens/background001.jpg);
    background-size: 100% ;
    background-attachment: fixed;
}
#folha{
    background-image: url(imagens/background002.jpg);
}
p{
    background-color: rgba(128, 128, 128, 0.705);
    width: 600px;
    margin-left: 30px; ;
}
footer{
    background-color: black;
    padding: 10px;
    color: white;
    text-align: center;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: gray;
}